body {
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #fff;
	
}

a {
	color: #000;
	text-decoration: none;
}

header {
	
	
	top: 0;
	left: 0;
	padding: 20px 11px;

	width: 100%;
	padding: 5px;

	display: flex;
	justify-content: space-between;
	align-items:center;
	margin-bottom: 40px;
	background-image: url(Thames.jpg)
}

.header {
	width:100%;
	background-image:url("Thames.jpg");
	background-size: cover;
	background-position: center center;
}

header h1 {
	width: 64px;
	padding-left: 20px;
}

h1 {
	color: white;
}

header nav a {
	padding-right: 20px;
	margin-left: 10px;
	height: 8px;
	aspect-ratio: 16 / 9;
}

/* Restuarants Images Gallery 1*/

h2 {
font-size: 40px;
color: #57696D;
margin-top: 40px;
padding-left: 20px;

}

h5 {
	font-size: 20px;
	color: palevioletred;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	
}

.gallery-image {
	height: 400px;
	width: 100%;
  height: auto;
}

.image-container {
	margin: 10px;
	position: relative;
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	
}

.overlay {
	position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #000;
}

.image-container:hover .overlay {
	opacity: 0.3;
}


  .fa-user:hover {
	color: #eee;
  }

.flex-container {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
  align-items: center;
  justify-items: center;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 60px;

}

p {
	margin-bottom: 0em; margin-top: 0em;
	
}

/* Restuarants Images Gallery 2 */

h3 {
	padding-top: 20px;
	margin-left: 20px;
	font-size: 40px;
	color: #57696D;
}

.gallery-image2 {
	height: 550px;
	width: 100%;
  height: auto;
}

.image-container2 {
	margin: 10px;
	position: relative;
	width: 100%;
	max-width: 550px;
	max-height: 375px;

}

.overlay {
	position: absolute;
            height: 100%;
            width: 100%;
            transition: .3s ease;
            background-color: transparent;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; 
   
}

.image-container:hover .overlay {
	opacity: 0.8;
	
}


.image-container .overlay-icon {
            
	position: absolute;
            cursor: pointer;
            left: 38%;
			bottom: 50%;
			

	
}




  .fa-user:hover {
	color: #eee;
  }

.flex-container2 {
	margin-top: 20px;
	display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  align-items: center;
  justify-items: center;
  margin-bottom: 140px;

}

p {
	margin-bottom: 0em; margin-top: 0em;
}


/* footer */

.row-footer {
	overflow: hidden;
	background-color: #57696D;
	color: black;
	bottom: 0;
    width: 100%;
	

	
}

div.footer-center {
    color: white;
    text-align: center;
	text-transform: uppercase;
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
	margin-left: 60px;
	
}

div.footer-left {
    color: white;
    text-align: right;
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
    float: right;
    padding: 1em;
}


div.footer-right {
    color: white;
    text-align: right;
    display: inline-block;
    width: calc(100% / 3);
    box-sizing: border-box;
    padding: 1em;
	
}

table.legal {
    color: white;
	float: left;
}



.buttons {
    text-align: center;
    font: gray;
	
}

.row-footer {
    width: 100%;
    display: inline-block;
}

.footer-text {
	color: white;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline; 

}

.footer-text a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 700px) {
    
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    div.responsive {
        width: 100%; 
    }
}


/* .footer {
	margin-top: 140px;
}

footer p {
	
		float: left;
		margin-right: 20px;
		margin-top: 20px;
	}

footer nav a {
	width: 16px;
	margin-left: 20px;
	margin-top:20px;
	float: right;	
}

nav a.button {
	width: 100px;
	background-color:#000;
	color:#fff;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
}

.nav-logo {
height: 20px
} */
